.no-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 2rem;
}

.no-img{
    width: 400px;
    margin: 4rem;
}

.no-text{
    text-align: center;
    font-size: 1.2rem;
}