.signup-wrapper {
  width: 70%;
  max-width: 400px;
  height: auto;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
}

.title {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (max-width: 1280px) {
  .signup-wrapper {
    max-width: 340px;
    padding: 0.5rem 1.5rem;
  }

  .title {
    margin: 10px 0px;
  }

  .input-wrapper {
    margin-bottom: 1rem !important;
}
}
